/*
Color palette pour le site : 
#1D3461
#1F487E
#376996
#6290C8
#829CBC

*/

body {
color:black;
background-color:white;
background-size: 95% 95%;
background-image:url(https://atlantico-media.s3.eu-west-3.amazonaws.com/rtr3ford_499439263f.jpg);
background-attachment:fixed;
background-position:100% 0%;
}

.top-buffer {
  margin-top: 10px;
}

#first {
  background-color: #1f487e;
  background-image: linear-gradient(#1d3461, #1f487e);
}

#title {
  max-height: 250px;
}

#logo,
#names,
#title {
  display: flex;
  align-items: center;
}

#logo,
#logo_cont,
#logo_img {
  max-height: 100%;
  max-width: 100%;
}

#namebox, #logo {
  text-align: center;
  border-radius: 10px;
  color: black;
  font-size: x-small;
  background-color: #b2d5ff;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*#title {
  border: solid #1d3461;
  border-radius: 10px;
  border-width: 5px;
  background-color: #1f487e;
  background-image: linear-gradient(#1d3461, #1f487e);
}*/

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  vertical-align: middle;
}

p {
  padding: 10px;
}

#downnumber {
   text-align: right; 
}

div.inner.names,
#namebox {
  margin-left: 0;
  margin-right: auto;
}

#pres {
  border: solid #829cbc;
  border-radius: 10px;
  border-width: 3px;
  background-color: #b2d5ff;
}

p.explain {
  text-align: justify;
}

input[type='number']{
    width: 36px;
} 

div.viz {
  background-color: #b2d5ff;
}

#wrapc-1,#wrapc-2,#wrapc-3,#wrapc-4 {
  border: solid 1px #829cbc;
  display: flex;
  justify-content: center;
}

#wrapc-2,#wrapc-3,#wrapc-4 {
    background-color: #b2d5ff;
}
  
#wrapc-1{
  background-color: #008080;
  }

/*#circle-1,#circle-2,#circle-3,#circle-4 {
}*/

#circle-wrapper,
#stats-circle,
#supp-text{
  border-top: solid 5px #829cbc;
}

#circle-wrapper,
#st-cr-wrapper {
  border-right: double 3px #829cbc;
}

#circle-wrapper,
#st-cr-wrapper,
#supp-text-2 {
  border-left: solid 5px #829cbc;
}

#st-cr-wrapper,
#course-radios {
  border-bottom: solid 5px #829cbc;
}

#course-tick,
#course-graph,
#course-radios,
#supp-text,
#supp-text-2 {
  border-right: solid 5px #829cbc;
}

#stats-circle {
  border-right: solid 3px #829cbc;
}

#overview, #supp-text-2 {
  border-bottom: solid 3px #829cbc;
}

#course-graph, #st-cr-wrapper, #supp-text-2 {
  border-top: solid 3px #829cbc;
}

#course-tick,
#course-graph,
#course-radios {
  border-left: solid #829cbc 5px;
}

#circle-wrapper {
  border-top-left-radius: 10px;
}

#supp-text {
  border-top-right-radius: 10px;
}

#st-cr-wrapper,
#course-radios {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: solid #829cbc 3px;
}

#st-cr-title {
  text-align: center;
}

/*div.keys {
  text-align: right;
}*/

div.values {
  display: inline;
  float: left;
  margin-right: 5px;
}

/*div.unit {
  display: inline;
  float: left;
}*/

.checkboxes {
     display: inline;
     float: left;
     margin-right: 10px;
}

.horizontalGrid {
        stroke: grey;
        stroke-opacity: 0.5;
        shape-rendering: crispEdges;
      }
      .line {
        fill: none;
        stroke: #383838;
        stroke-width: 1px;
      }
      .overlay {
        fill: none;
        pointer-events: all;
      }
